<div class="flex flex-col items-center justify-center lg:pt-10 lg:pr-20 lg:pl-20 sm:pt-14 sm:pr-6 sm:pb-14 sm:pl-6 min-h-screen relative font-display
            bg-gradient-to-b from-blue-bg/40 to-blue-bg/90 text-white ">
            
  <div class="background bg-blue-bg"></div>
  <!-- Logo -->
  <div class="hidden md:flex w-full h-[80px] items-center px-6">
    <img src="/icons/logo.svg" alt="Logo" class="h-[40px] w-[141.1px]">
  </div>
  <!-- Contenedor de formulario -->
  <div class="relative bg-transparent p-6 text-center w-50vw">
    <h2 class="text-white text-3xl font-bold pb-2">Formulario de Crédito Flexible</h2>
    <p class="text-white text-md mb-6">Completa el formulario y accede a un préstamo de libre inversión diseñado para ti.</p>

    <!-- Selector de Tipo de Persona -->
    <label class="block text-white text-sm pb-2 text-left">Tipo de Persona</label>
    <select [(ngModel)]="personType" (change)="switchType($event)" class="w-full h-[56px] border border-border-ip p-2 rounded-lg bg-gray-100 focus:outline-none focus:ring-0 placeholder-gray-400 text-text-ip font-medium">
      <option value="NATURAL">Persona Natural</option>
      <option value="JURIDICA">Persona Jurídica</option>
    </select>

    <!-- Contenedor de formularios SIN ANIMACIÓN -->
    <div class="mt-6 relative h-auto">
      <app-person-form *ngIf="personType === 'NATURAL'"></app-person-form>
      <app-company-form *ngIf="personType === 'JURIDICA'"></app-company-form>
    </div>
  </div>

